<a href="https://colab.research.google.com/github/luannapm/miniprojeto_SoulCode/blob/main/MINI_PROJETO_FINAL_Luanna.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install pandera

Requirement already satisfied: pandera in /usr/local/lib/python3.7/dist-packages (0.7.2)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.7/dist-packages (from pandera) (3.7.4.3)
Requirement already satisfied: pyarrow in /usr/local/lib/python3.7/dist-packages (from pandera) (3.0.0)
Requirement already satisfied: wrapt in /usr/local/lib/python3.7/dist-packages (from pandera) (1.12.1)
Requirement already satisfied: pandas>=1.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (1.1.5)
Requirement already satisfied: typing-inspect>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (0.7.1)
Requirement already satisfied: numpy>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (1.19.5)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (21.0)
Requirement already satisfied: pyparsing>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->pandera) (2.4.7)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0->pandera) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0->pandera) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=1.0->pandera) (1.15.0)
Requirement already satisfied: mypy-extensions>=0.3.0 in /usr/local/lib/python3.7/dist-packages (from typing-inspect>=0.6.0->pandera) (0.4.3)

IMPORTAÇÃO DAS BIBLIOTECAS

In [ ]:
import pandas as pd
import pandera as pa

EXTRAÇÃO DOS DADOS

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/dados/marketing_campaign.csv', sep='\t', parse_dates=['Dt_Customer'], dayfirst=True)
df

         ID  Year_Birth   Education  ... Z_CostContact  Z_Revenue  Response
0      5524        1957  Graduation  ...             3         11         1
1      2174        1954  Graduation  ...             3         11         0
2      4141        1965  Graduation  ...             3         11         0
3      6182        1984  Graduation  ...             3         11         0
4      5324        1981         PhD  ...             3         11         0
...     ...         ...         ...  ...           ...        ...       ...
2235  10870        1967  Graduation  ...             3         11         0
2236   4001        1946         PhD  ...             3         11         0
2237   7270        1981  Graduation  ...             3         11         0
2238   8235        1956      Master  ...             3         11         0
2239   9405        1954         PhD  ...             3         11         1

[2240 rows x 29 columns]

In [ ]:
df.dtypes

BACKUP

In [ ]:
databack = df.copy()

LIMPEZA/TRATAMENTO DOS DADOS

drop - AcceptedCmp3, AcceptedCmp4, AcceptedCmp1, AcceptedCmp5, AcceptedCmp2, response, recency, Z_CostContact, Z_Revenue.

> Bloco com recuo

In [ ]:
#Exclusão de colunas
df.drop(['AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp1', 'AcceptedCmp5', 'AcceptedCmp2', 'Response', 'Recency', 'Z_CostContact', 'Z_Revenue'], axis=1, inplace=True)

In [ ]:
#Renomeação de colunas 
df.rename(columns={'Year_Birth': 'Ano_nascimento', 'Education': 'Escolaridade', 'Marital_Status': 'Estado_civil', 'Income': 'Renda', 'Kidhome': 'Crianca_em_casa', 'Teenhome': 'adolescente_em_casa',  'Dt_Customer': 'Data_cliente', 'MntWines': 'Mnt_vinhos', 'MntFruits':'Mnt_frutas', 'MntMeatProducts': 'Mnt_produtos_carne', 'MntFishProducts': 'Mnt_produtos_peixe', 'MntSweetProducts': 'Mnt_produtos_doce', 'MntGoldProds': 'Mnt_produtos_gold', 'NumDealsPurchases': 'Num_ofertas_compras', 'NumWebPurchases': 'Num_compras_web', 'NumCatalogPurchases': 'Num_compras_catalogo', 'NumStorePurchases': 'Num_compras_loja', 'NumWebVisitsMonth ': 'Num_visitas_web_mes', 'Complain': 'Reclamacao',    }, inplace=True)

In [ ]:
#Renomeação das linhas da coluna 'Escolaridade' e 'Estado civil'
df['Escolaridade'].replace(['2n Cycle', 'Basic', 'Graduation', 'Master', 'PhD'], ['Segundo_ciclo', 'Ensino_basico', 'Graduacao', 'Mestrado', 'Doutorado'], inplace=True)
df['Estado_civil'].replace(['Absurd', 'Alone', 'Divorced', 'Married', 'Single', 'Together', 'Widow', 'YOLO'], ['declarado_absurdo', 'Sozinho', 'Divorciado', 'Casado', 'Solteiro', 'Juntos', 'Viuvo', 'Sem_rotulos'], inplace=True)

In [ ]:
df.head(10)

In [ ]:
#Mostra todos os elementos únicos da coluna Renda
sorted(pd.unique(df['Renda']))

In [ ]:
#Mostrar um elemento específico na coluna Renda
df.loc[df.Renda == 'nan']

In [ ]:
#Substituição dos valores fornecidos 'nan' por (<NA>)
df.replace(['nan'], pd.NA, inplace=True)

In [ ]:
#Mostrar dados os (<NA>) not available e soma por coluna 
df.isna().sum()

ID                       0
Ano_nascimento           0
Escolaridade             0
Estado_civil             0
Renda                   24
Crianca_em_casa          0
adolescente_em_casa      0
Data_cliente             0
Mnt_vinhos               0
Mnt_frutas               0
Mnt_produtos_carne       0
Mnt_produtos_peixe       0
Mnt_produtos_doce        0
Mnt_produtos_gold        0
Num_ofertas_compras      0
Num_compras_web          0
Num_compras_catalogo     0
Num_compras_loja         0
NumWebVisitsMonth        0
Reclamacao               0
dtype: int64

In [ ]:
df.loc[df.Renda == 'NA']

In [ ]:
#Mudar estado civil sozinho para solteiro
df.loc[df.Estado_civil == "Sozinho", ['Estado_civil']] = 'Solteiro'

In [ ]:
#Mostra todos os elementos únicos da coluna Estado civil
sorted(pd.unique(df['Estado_civil']))

In [ ]:
df.dtypes

VALIDAÇÃO DOS DADOS

In [ ]:
schema = pa.DataFrameSchema(
    columns = {
        "ID":pa.Column(pa.Int),
        "Ano_nascimento":pa.Column(pa.Int),
        "Estado_civil":pa.Column(pa.String),
        "Renda": pa.Column(pa.Float, nullable=True),
        "Crianca_em_casa":pa.Column(pa.Int),
        "adolescente_em_casa":pa.Column(pa.Int),
        "Data_cliente":pa.Column(pa.DateTime),
        "Mnt_vinhos":pa.Column(pa.Int),
        "Mnt_frutas":pa.Column(pa.Int),
        "Mnt_produtos_carne":pa.Column(pa.Int),
        "Mnt_produtos_peixe":pa.Column(pa.Int),
        "Mnt_produtos_doce":pa.Column(pa.Int),
        "Mnt_produtos_gold":pa.Column(pa.Int),
        "Num_ofertas_compras":pa.Column(pa.Int),
        "Num_compras_web":pa.Column(pa.Int),
        "Num_compras_catalogo":pa.Column(pa.Int),
        "Num_compras_loja":pa.Column(pa.Int),
        "NumWebVisitsMonth":pa.Column(pa.Int),
        "Reclamacao":pa.Column(pa.Int)
    }
)

In [ ]:
schema.validate(df)

         ID  Ano_nascimento  ... NumWebVisitsMonth Reclamacao
0      5524            1957  ...                 7          0
1      2174            1954  ...                 5          0
2      4141            1965  ...                 4          0
3      6182            1984  ...                 6          0
4      5324            1981  ...                 5          0
...     ...             ...  ...               ...        ...
2235  10870            1967  ...                 5          0
2236   4001            1946  ...                 7          0
2237   7270            1981  ...                 6          0
2238   8235            1956  ...                 3          0
2239   9405            1954  ...                 7          0

[2240 rows x 20 columns]

CARREGAMENTO PARA CSV

In [ ]:
df.to_csv('campanha_marketing.csv', index=False)

PYSPARK

In [ ]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.2.0)
Requirement already satisfied: py4j==0.10.9.2 in /usr/local/lib/python3.7/dist-packages (from pyspark) (0.10.9.2)

IMPORTAÇÃO DAS BIBLIOTECAS

In [ ]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F
from pyspark.sql.types import StructType, StructField, StringType, IntegerType
from pyspark.sql.types import ArrayType, DoubleType, BooleanType
from pyspark.sql.window import Window

Configuração da SparkSession

In [ ]:
spark = (
SparkSession.builder\
        .master("local")\
        .appName("aprendendo-dataframes")\
        .config("spark.ui.port", "4050")\
        .getOrCreate()
)

In [ ]:

df1 = (spark
       .read
       .format("csv")
       .option("header", "true")
       .option("inferschema", "true")
       .option("delimiter", ",")
       .load('/content/campanha_marketing.csv')
)

In [ ]:
#Leitura do csv utilizando o StructType - 
schema = (
    StructType([
        StructField("ID",StringType(), True),
        StructField("Ano_nascimento", IntegerType(), True, ),
        StructField("Escolaridade", StringType(), True),
        StructField("Estado_civil", StringType(), True),
        StructField("Renda", DoubleType(), True),
        StructField("Crianca_em_casa", IntegerType(), True),
        StructField("adolescente_em_casa", IntegerType(), True),
        StructField("Data_cliente", StringType(), True),
        StructField("Mnt_vinhos", IntegerType(), True),
        StructField("Mnt_frutas", IntegerType(), True),
        StructField("Mnt_produtos_carne", IntegerType(), True),
        StructField("Mnt_produtos_peixe", IntegerType(), True),
        StructField("Mnt_produtos_doce", IntegerType(), True),
        StructField("Mnt_produtos_gold", IntegerType(), True),
        StructField("Num_ofertas_compras", IntegerType(), True),
        StructField("Num_compras_web", IntegerType(), True),
        StructField("Num_compras_catalogo", IntegerType(), True),
        StructField("Num_compras_loja", IntegerType(), True),
        StructField("NumWebVisitsMonth", IntegerType(), True),
        StructField("Reclamacao", IntegerType(), True),

    ])
)

df2 = spark.read.format("csv") \
      .option("header", True) \
      .schema(schema) \
      .load("/content/campanha_marketing.csv") \

In [ ]:
#Renomeação das colunas: 'adolescente_em_casa' e  'NumWebVisitsMonth'
df3 = df2.withColumnRenamed("adolescente_em_casa","Adolescente_em_casa") \
     .withColumnRenamed("NumWebVisitsMonth","Num_visita_web_Mes")

CARREGAMENTO PARA CSV

In [ ]:
df3.toPandas().to_csv('campanha_marketing_pyspark.csv', index=False)

In [ ]:
#Criação de uma nova coluna com a seguinte informação: Caso o indivíduo tenha a renda maior ou igual a 70000 , colocar o texto “Renda maior ou igual 70000”. Caso contrário, colocar o texto: “Renda menor do que 70000”
df4 = (df3.withColumn("status_Renda", F.when(F.col("Renda") >= 70000, "Renda maior ou igual 70000")
         .otherwise("Renda menor do que 70000"))
      
)
df4.select(F.col("Escolaridade"), F.col("Renda"), F.col("status_Renda")).show(20)

+-------------+-------+--------------------+
| Escolaridade|  Renda|        status_Renda|
+-------------+-------+--------------------+
|    Graduacao|58138.0|Renda menor do qu...|
|    Graduacao|46344.0|Renda menor do qu...|
|    Graduacao|71613.0|Renda maior ou ig...|
|    Graduacao|26646.0|Renda menor do qu...|
|    Doutorado|58293.0|Renda menor do qu...|
|     Mestrado|62513.0|Renda menor do qu...|
|    Graduacao|55635.0|Renda menor do qu...|
|    Doutorado|33454.0|Renda menor do qu...|
|    Doutorado|30351.0|Renda menor do qu...|
|    Doutorado| 5648.0|Renda menor do qu...|
|    Graduacao|   null|Renda menor do qu...|
|Ensino_basico| 7500.0|Renda menor do qu...|
|    Graduacao|63033.0|Renda menor do qu...|
|     Mestrado|59354.0|Renda menor do qu...|
|    Graduacao|17323.0|Renda menor do qu...|
|    Doutorado|82800.0|Renda maior ou ig...|
|    Graduacao|41850.0|Renda menor do qu...|
|    Graduacao|37760.0|Renda menor do qu...|
|     Mestrado|76995.0|Renda maior ou ig...|
|Segundo_ciclo|33812.0|Renda menor do qu...|
+-------------+-------+--------------------+
only showing top 20 rows

CARREGAMENTO PARA CSV

In [ ]:
df4.toPandas().to_csv('campanha_marketing_pyspark_col_status_renda.csv', index=False)

In [ ]:
#Criação de uma segunda nova coluna com a seguinte informação: Caso o indivíduo tenha o número de compras na web maior ou igual a 5 , colocar o texto “Numero de compras na web maior ou igual 5”. Caso contrário, colocar o texto: “Numero de compras na web menor do que 5”
df5 = (df4.withColumn("Compras_web", F.when(F.col("Num_compras_web") >= 5, "Numero de compras na web maior ou igual 5")
          .otherwise("Numero de compras na web menor do que 5"))
      )

df5.select(F.col("Num_visita_web_Mes"), F.col("Num_compras_web"), F.col("Compras_web")).show(20)

+------------------+---------------+--------------------+
|Num_visita_web_Mes|Num_compras_web|         Compras_web|
+------------------+---------------+--------------------+
|                 7|              8|Numero de compras...|
|                 5|              1|Numero de compras...|
|                 4|              8|Numero de compras...|
|                 6|              2|Numero de compras...|
|                 5|              5|Numero de compras...|
|                 6|              6|Numero de compras...|
|                 6|              7|Numero de compras...|
|                 8|              4|Numero de compras...|
|                 9|              3|Numero de compras...|
|                20|              1|Numero de compras...|
|                 7|              1|Numero de compras...|
|                 8|              2|Numero de compras...|
|                 2|              3|Numero de compras...|
|                 6|              6|Numero de compras...|
|                 8|              1|Numero de compras...|
|                 3|              7|Numero de compras...|
|                 8|              3|Numero de compras...|
|                 7|              4|Numero de compras...|
|                 5|             11|Numero de compras...|
|                 6|              2|Numero de compras...|
+------------------+---------------+--------------------+
only showing top 20 rows

CARREGAMENTO PARA CSV

In [ ]:
df5.toPandas().to_csv('campanha_marketing_pyspark_col_Compras_web.csv', index=False)

Utilizando FILTROS, ORDENAMENTO e AGRUPAMENTO

In [ ]:
#Exibição da Escolaridade, Crianca em casa e Estado civil apenas de Crianca em casa == 1
df3.select(F.col("Escolaridade"), F.col("Crianca_em_casa"), F.col("Estado_civil")).filter(F.col("crianca_em_casa") == "1").show(20)

+-------------+---------------+------------+
| Escolaridade|Crianca_em_casa|Estado_civil|
+-------------+---------------+------------+
|    Graduacao|              1|    Solteiro|
|    Graduacao|              1|      Juntos|
|    Doutorado|              1|      Casado|
|    Doutorado|              1|      Casado|
|    Doutorado|              1|      Juntos|
|    Doutorado|              1|      Juntos|
|    Graduacao|              1|      Casado|
|     Mestrado|              1|  Divorciado|
|    Graduacao|              1|      Casado|
|Segundo_ciclo|              1|    Solteiro|
|    Graduacao|              1|      Casado|
|    Graduacao|              1|      Casado|
|    Graduacao|              1|    Solteiro|
|    Graduacao|              1|      Casado|
|     Mestrado|              1|    Solteiro|
|Segundo_ciclo|              1|      Casado|
|     Mestrado|              1|      Casado|
|     Mestrado|              1|      Casado|
|    Graduacao|              1|      Juntos|
|    Doutorado|              1|      Casado|
+-------------+---------------+------------+
only showing top 20 rows

In [ ]:
#Exibição de filtragem de Escolaridade por Mestrado, Mnt_vinhos por == 5 e Estado_civil por Solteiro
df3.select(F.col("Escolaridade"), F.col("Mnt_vinhos"), F.col("Estado_civil"))\
                 .filter(F.col("Escolaridade") == "Mestrado")\
                 .filter(F.col("Mnt_vinhos") == "5")\
                 .filter(F.col("Estado_civil") == "Solteiro")\
                 .show()

+------------+----------+------------+
|Escolaridade|Mnt_vinhos|Estado_civil|
+------------+----------+------------+
|    Mestrado|         5|    Solteiro|
|    Mestrado|         5|    Solteiro|
+------------+----------+------------+

In [ ]:
#Retorna a média dos valores através da coluna Renda
avg = df3.select(F.avg("Renda")).collect()[0][0]
print(f"avg: {avg}")

avg: 52247.25135379061

In [ ]:
#Retorna o maior valor da renda
df3.select(F.max(F.col("Renda"))).show(truncate=False)

+----------+
|max(Renda)|
+----------+
|666666.0  |
+----------+

In [ ]:
#Retorna o menor valor da renda
df3.select(F.min(F.col("Renda"))).show(truncate=False)

+----------+
|min(Renda)|
+----------+
|1730.0    |
+----------+

In [ ]:
#Retorna os valores distintos de renda 
approx = df3.select(F.approx_count_distinct("Renda")).collect()[0][0]
print(f"approx_count_distinct: {approx}")

approx_count_distinct: 2047

In [ ]:
#Contagem de linhas existes na tabela agrupada pela coluna Escolaridade
df3.groupBy(F.col("Escolaridade")).count().show()

+-------------+-----+
| Escolaridade|count|
+-------------+-----+
|    Doutorado|  486|
|    Graduacao| 1127|
|Segundo_ciclo|  203|
|     Mestrado|  370|
|Ensino_basico|   54|
+-------------+-----+

In [ ]:
#Retorna o menor valor do agrupamento Escolaridade e Num_compras_loja
df3.groupBy(F.col("Escolaridade")).min("Num_compras_loja").show()

+-------------+---------------------+
| Escolaridade|min(Num_compras_loja)|
+-------------+---------------------+
|    Doutorado|                    0|
|    Graduacao|                    0|
|Segundo_ciclo|                    1|
|     Mestrado|                    1|
|Ensino_basico|                    2|
+-------------+---------------------+

In [ ]:
#Retorna o maior valor do agrupamento Escolaridade e Num_compras_loja
df3.groupBy(F.col("Escolaridade")).max("Num_compras_loja").show()

+-------------+---------------------+
| Escolaridade|max(Num_compras_loja)|
+-------------+---------------------+
|    Doutorado|                   13|
|    Graduacao|                   13|
|Segundo_ciclo|                   13|
|     Mestrado|                   13|
|Ensino_basico|                    8|
+-------------+---------------------+

In [ ]:
#Retorna a média do agrupamento Escolaridade e Num_compras_loja
df3.groupBy(F.col("Escolaridade")).mean("Num_compras_loja").show()

+-------------+---------------------+
| Escolaridade|avg(Num_compras_loja)|
+-------------+---------------------+
|    Doutorado|    6.061728395061729|
|    Graduacao|     5.82963620230701|
|Segundo_ciclo|   5.5073891625615765|
|     Mestrado|    5.897297297297297|
|Ensino_basico|   2.8518518518518516|
+-------------+---------------------+

In [ ]:
#Retorna a agregação de mais de uma função da coluna Num_visita_web_Mes pela Escolaridade
df6 = df3.groupBy(F.col("Escolaridade")).agg(
            F.sum("Num_visita_web_Mes").alias("soma_Num_visita_web_Mes"),
            F.mean("Num_visita_web_Mes").alias("media_Num_visita_web_Mes"),
            F.max("Num_visita_web_Mes").alias("maior_Num_visita_web_Mes"),
            F.min("Num_visita_web_Mes").alias("menor_Num_visita_web_Mes")
            ).where(F.col("soma_Num_visita_web_Mes") >= 10).show()

+-------------+-----------------------+------------------------+------------------------+------------------------+
| Escolaridade|soma_Num_visita_web_Mes|media_Num_visita_web_Mes|maior_Num_visita_web_Mes|menor_Num_visita_web_Mes|
+-------------+-----------------------+------------------------+------------------------+------------------------+
|    Doutorado|                   2556|      5.2592592592592595|                      20|                       0|
|    Graduacao|                   5959|       5.287488908606921|                      20|                       0|
|Segundo_ciclo|                   1107|        5.45320197044335|                       9|                       0|
|     Mestrado|                   1916|       5.178378378378379|                      17|                       1|
|Ensino_basico|                    371|        6.87037037037037|                       9|                       3|
+-------------+-----------------------+------------------------+------------------------+------------------------+

CARREGAMENTO PARA CSV

In [ ]:
df6.toPandas().to_csv('campanha_marketing_agregacao_Num_visita_web_Mes.csv', index=False)

In [ ]:
#Retorna a ordem pela coluna Renda e Escolaridade
df3.orderBy(F.col("Renda"),F.col("Escolaridade")).show(truncate=False)

+-----+--------------+------------+------------+-----+---------------+-------------------+------------+----------+----------+------------------+------------------+-----------------+-----------------+-------------------+---------------+--------------------+----------------+------------------+----------+
|ID   |Ano_nascimento|Escolaridade|Estado_civil|Renda|Crianca_em_casa|Adolescente_em_casa|Data_cliente|Mnt_vinhos|Mnt_frutas|Mnt_produtos_carne|Mnt_produtos_peixe|Mnt_produtos_doce|Mnt_produtos_gold|Num_ofertas_compras|Num_compras_web|Num_compras_catalogo|Num_compras_loja|Num_visita_web_Mes|Reclamacao|
+-----+--------------+------------+------------+-----+---------------+-------------------+------------+----------+----------+------------------+------------------+-----------------+-----------------+-------------------+---------------+--------------------+----------------+------------------+----------+
|8268 |1961          |Doutorado   |Casado      |null |0              |1                  |2013-07-11  |352       |0         |27                |10                |0                |15               |3                  |6              |1                   |7               |6                 |0         |
|7281 |1959          |Doutorado   |Solteiro    |null |0              |0                  |2013-11-05  |81        |11        |50                |3                 |2                |39               |1                  |1              |3                   |4               |2                 |0         |
|3769 |1972          |Doutorado   |Juntos      |null |1              |0                  |2014-03-02  |25        |1         |13                |0                 |0                |3                |1                  |1              |0                   |3               |7                 |0         |
|8996 |1957          |Doutorado   |Casado      |null |2              |1                  |2012-11-19  |230       |42        |192               |49                |37               |53               |12                 |7              |2                   |8               |9                 |0         |
|1612 |1981          |Doutorado   |Solteiro    |null |1              |0                  |2013-05-31  |23        |0         |15                |0                 |2                |7                |2                  |3              |0                   |3               |6                 |0         |
|1994 |1983          |Graduacao   |Casado      |null |1              |0                  |2013-11-15  |5         |5         |6                 |0                 |2                |1                |1                  |1              |0                   |2               |7                 |0         |
|2437 |1989          |Graduacao   |Casado      |null |0              |0                  |2013-06-03  |861       |138       |461               |60                |30               |61               |1                  |6              |5                   |12              |3                 |0         |
|2902 |1958          |Graduacao   |Juntos      |null |1              |1                  |2012-09-03  |19        |4         |12                |2                 |2                |6                |1                  |1              |0                   |3               |5                 |0         |
|8557 |1982          |Graduacao   |Solteiro    |null |1              |0                  |2013-06-17  |11        |3         |22                |2                 |2                |6                |2                  |2              |0                   |3               |6                 |0         |
|9235 |1957          |Graduacao   |Solteiro    |null |1              |1                  |2014-05-27  |7         |0         |8                 |2                 |0                |1                |1                  |1              |0                   |2               |7                 |0         |
|1295 |1963          |Graduacao   |Casado      |null |0              |1                  |2013-08-11  |231       |65        |196               |38                |71               |124              |1                  |6              |5                   |7               |4                 |0         |
|2863 |1970          |Graduacao   |Solteiro    |null |1              |2                  |2013-08-23  |738       |20        |172               |52                |50               |20               |6                  |2              |3                   |10              |7                 |0         |
|5079 |1971          |Graduacao   |Casado      |null |1              |1                  |2013-03-03  |71        |1         |16                |0                 |0                |9                |4                  |2              |1                   |3               |8                 |0         |
|3117 |1955          |Graduacao   |Solteiro    |null |0              |1                  |2013-10-18  |264       |0         |21                |12                |6                |147              |3                  |6              |1                   |5               |7                 |0         |
|7244 |1951          |Graduacao   |Solteiro    |null |2              |1                  |2014-01-01  |48        |5         |48                |6                 |10               |7                |3                  |2              |1                   |4               |6                 |0         |
|5255 |1986          |Graduacao   |Solteiro    |null |1              |0                  |2013-02-20  |5         |1         |3                 |3                 |263              |362              |0                  |27             |0                   |0               |1                 |0         |
|5798 |1973          |Mestrado    |Juntos      |null |0              |0                  |2013-11-23  |445       |37        |359               |98                |28               |18               |1                  |2              |4                   |8               |1                 |0         |
|10475|1970          |Mestrado    |Juntos      |null |0              |1                  |2013-04-01  |187       |5         |65                |26                |20               |14               |2                  |4              |2                   |6               |5                 |0         |
|7187 |1969          |Mestrado    |Juntos      |null |1              |1                  |2013-05-18  |375       |42        |48                |94                |66               |96               |7                  |4              |10                  |4               |3                 |0         |
|10339|1954          |Mestrado    |Juntos      |null |0              |1                  |2013-06-23  |161       |0         |22                |0                 |0                |24               |2                  |4              |1                   |4               |6                 |0         |
+-----+--------------+------------+------------+-----+---------------+-------------------+------------+----------+----------+------------------+------------------+-----------------+-----------------+-------------------+---------------+--------------------+----------------+------------------+----------+
only showing top 20 rows

In [ ]:
#Retorna o ordenamento descendente pela renda
df3.orderBy(F.col("Renda").desc()).show(truncate=False)

+-----+--------------+-------------+------------+--------+---------------+-------------------+------------+----------+----------+------------------+------------------+-----------------+-----------------+-------------------+---------------+--------------------+----------------+------------------+----------+
|ID   |Ano_nascimento|Escolaridade |Estado_civil|Renda   |Crianca_em_casa|Adolescente_em_casa|Data_cliente|Mnt_vinhos|Mnt_frutas|Mnt_produtos_carne|Mnt_produtos_peixe|Mnt_produtos_doce|Mnt_produtos_gold|Num_ofertas_compras|Num_compras_web|Num_compras_catalogo|Num_compras_loja|Num_visita_web_Mes|Reclamacao|
+-----+--------------+-------------+------------+--------+---------------+-------------------+------------+----------+----------+------------------+------------------+-----------------+-----------------+-------------------+---------------+--------------------+----------------+------------------+----------+
|9432 |1977          |Graduacao    |Juntos      |666666.0|1              |0                  |2013-06-02  |9         |14        |18                |8                 |1                |12               |4                  |3              |1                   |3               |6                 |0         |
|1503 |1976          |Doutorado    |Juntos      |162397.0|1              |1                  |2013-06-03  |85        |1         |16                |2                 |1                |2                |0                  |0              |0                   |1               |1                 |0         |
|1501 |1982          |Doutorado    |Casado      |160803.0|0              |0                  |2012-08-04  |55        |16        |1622              |17                |3                |4                |15                 |0              |28                  |1               |0                 |0         |
|5336 |1971          |Mestrado     |Juntos      |157733.0|1              |0                  |2013-06-04  |39        |1         |9                 |2                 |0                |8                |0                  |1              |0                   |1               |1                 |0         |
|8475 |1973          |Doutorado    |Casado      |157243.0|0              |1                  |2014-03-01  |20        |2         |1582              |1                 |2                |1                |15                 |0              |22                  |0               |0                 |0         |
|4931 |1977          |Graduacao    |Juntos      |157146.0|0              |0                  |2013-04-29  |1         |0         |1725              |2                 |1                |1                |0                  |0              |28                  |0               |1                 |0         |
|11181|1949          |Doutorado    |Casado      |156924.0|0              |0                  |2013-08-29  |2         |1         |2                 |1                 |1                |1                |0                  |0              |0                   |0               |0                 |0         |
|5555 |1975          |Graduacao    |Divorciado  |153924.0|0              |0                  |2014-02-07  |1         |1         |1                 |1                 |1                |1                |0                  |0              |0                   |0               |0                 |0         |
|4619 |1945          |Doutorado    |Solteiro    |113734.0|0              |0                  |2014-05-28  |6         |2         |3                 |1                 |262              |3                |0                  |27             |0                   |0               |1                 |0         |
|4611 |1970          |Graduacao    |Juntos      |105471.0|0              |0                  |2013-01-21  |1009      |181       |104               |202               |21               |207              |0                  |9              |8                   |13              |3                 |0         |
|10089|1974          |Graduacao    |Divorciado  |102692.0|0              |0                  |2013-04-05  |168       |148       |444               |32                |172              |148              |1                  |6              |9                   |13              |2                 |0         |
|2798 |1977          |Doutorado    |Juntos      |102160.0|0              |0                  |2012-11-02  |763       |29        |138               |76                |176              |58               |0                  |7              |9                   |10              |4                 |0         |
|7215 |1983          |Graduacao    |Solteiro    |101970.0|0              |0                  |2013-03-12  |722       |27        |102               |44                |72               |168              |0                  |6              |8                   |13              |2                 |0         |
|7451 |1960          |Mestrado     |Solteiro    |98777.0 |0              |0                  |2014-02-17  |1000      |19        |711               |125               |115              |38               |0                  |4              |6                   |9               |1                 |0         |
|4248 |1960          |Mestrado     |Solteiro    |98777.0 |0              |0                  |2014-02-17  |1000      |19        |711               |125               |115              |38               |0                  |4              |6                   |9               |1                 |0         |
|500  |1977          |Graduacao    |Juntos      |96876.0 |0              |0                  |2013-08-06  |908       |43        |735               |40                |194              |21               |1                  |7              |7                   |9               |2                 |0         |
|2109 |1990          |Graduacao    |Solteiro    |96843.0 |0              |0                  |2013-04-23  |448       |71        |951               |40                |17               |17               |1                  |6              |11                  |10              |2                 |0         |
|6815 |1980          |Segundo_ciclo|Casado      |96547.0 |0              |0                  |2014-05-23  |448       |21        |125               |52                |101              |62               |0                  |7              |6                   |8               |2                 |0         |
|10619|1994          |Graduacao    |Solteiro    |95529.0 |0              |0                  |2012-12-03  |770       |29        |890               |250               |27               |24               |1                  |7              |3                   |7               |3                 |0         |
|7962 |1987          |Doutorado    |Solteiro    |95169.0 |0              |0                  |2013-10-09  |1285      |21        |449               |106               |20               |20               |1                  |4              |3                   |4               |1                 |0         |
+-----+--------------+-------------+------------+--------+---------------+-------------------+------------+----------+----------+------------------+------------------+-----------------+-----------------+-------------------+---------------+--------------------+----------------+------------------+----------+
only showing top 20 rows

In [ ]:
#Criação de um ranking de Escolaridade por ordem de renda 
w0 = Window.partitionBy(F.col("Escolaridade")).orderBy("Renda")
df7 = df3.withColumn("row_number", F.row_number().over(w0))

In [ ]:
df7.toPandas().to_csv('campanha_marketing_ranking.csv', index=False)

In [ ]:
#Criação de um ranking sem lacunas para Escolaridade por ordem de renda .
df3.withColumn("dense_rank", F.dense_rank().over(w0)).show()

+-----+--------------+------------+------------+-------+---------------+-------------------+------------+----------+----------+------------------+------------------+-----------------+-----------------+-------------------+---------------+--------------------+----------------+------------------+----------+----------+
|   ID|Ano_nascimento|Escolaridade|Estado_civil|  Renda|Crianca_em_casa|Adolescente_em_casa|Data_cliente|Mnt_vinhos|Mnt_frutas|Mnt_produtos_carne|Mnt_produtos_peixe|Mnt_produtos_doce|Mnt_produtos_gold|Num_ofertas_compras|Num_compras_web|Num_compras_catalogo|Num_compras_loja|Num_visita_web_Mes|Reclamacao|dense_rank|
+-----+--------------+------------+------------+-------+---------------+-------------------+------------+----------+----------+------------------+------------------+-----------------+-----------------+-------------------+---------------+--------------------+----------------+------------------+----------+----------+
| 7281|          1959|   Doutorado|    Solteiro|   null|              0|                  0|  2013-11-05|        81|        11|                50|                 3|                2|               39|                  1|              1|                   3|               4|                 2|         0|         1|
| 8996|          1957|   Doutorado|      Casado|   null|              2|                  1|  2012-11-19|       230|        42|               192|                49|               37|               53|                 12|              7|                   2|               8|                 9|         0|         1|
| 8268|          1961|   Doutorado|      Casado|   null|              0|                  1|  2013-07-11|       352|         0|                27|                10|                0|               15|                  3|              6|                   1|               7|                 6|         0|         1|
| 3769|          1972|   Doutorado|      Juntos|   null|              1|                  0|  2014-03-02|        25|         1|                13|                 0|                0|                3|                  1|              1|                   0|               3|                 7|         0|         1|
| 1612|          1981|   Doutorado|    Solteiro|   null|              1|                  0|  2013-05-31|        23|         0|                15|                 0|                2|                7|                  2|              3|                   0|               3|                 6|         0|         1|
| 9931|          1963|   Doutorado|      Casado| 4023.0|              1|                  1|  2014-06-23|         5|         0|                 1|                 1|                1|                1|                 15|              0|                   0|               0|                19|         0|         2|
| 5899|          1950|   Doutorado|      Juntos| 5648.0|              1|                  1|  2014-03-13|        28|         0|                 6|                 1|                1|               13|                  1|              1|                   0|               0|                20|         0|         3|
| 4303|          1957|   Doutorado|      Juntos| 6835.0|              0|                  1|  2012-12-08|       107|         2|                12|                 2|                2|               12|                  0|              0|                   0|               1|                20|         0|         4|
| 6237|          1966|   Doutorado|    Solteiro| 7144.0|              0|                  2|  2013-12-07|        81|         4|                33|                 5|                2|              291|                  0|             23|                   1|               1|                 0|         0|         5|
| 5835|          1976|   Doutorado|  Divorciado|14849.0|              1|                  0|  2013-07-02|        21|         2|                28|                 3|                2|                9|                  3|              2|                   0|               4|                 8|         0|         6|
|11010|          1984|   Doutorado|    Solteiro|16269.0|              1|                  0|  2013-08-30|        19|         3|                18|                 3|                1|                0|                  3|              3|                   0|               3|                 8|         0|         7|
|10031|          1976|   Doutorado|      Casado|16927.0|              1|                  1|  2013-02-10|        20|         2|                23|                 3|                1|                4|                  5|              3|                   0|               4|                 8|         0|         8|
|10790|          1985|   Doutorado|      Casado|18169.0|              1|                  0|  2013-02-19|         9|         0|                 5|                 0|                0|                7|                  1|              1|                   0|               2|                 8|         0|         9|
| 4329|          1984|   Doutorado|      Casado|18988.0|              1|                  0|  2014-05-23|         6|         0|                 6|                 2|                1|                1|                  2|              1|                   0|               3|                 7|         0|        10|
| 4298|          1973|   Doutorado|      Juntos|20427.0|              1|                  0|  2014-03-24|         5|         0|                 4|                 0|                0|                1|                  1|              1|                   0|               2|                 8|         0|        11|
| 2549|          1983|   Doutorado|      Juntos|21840.0|              1|                  0|  2013-07-21|        17|         0|                 9|                 0|                0|                1|                  1|              1|                   0|               3|                 9|         0|        12|
| 2156|          1955|   Doutorado|      Casado|22554.0|              1|                  1|  2012-11-03|        27|         0|                10|                 0|                0|                4|                  4|              2|                   0|               4|                 5|         0|        13|
|  213|          1963|   Doutorado|    Solteiro|23091.0|              1|                  1|  2014-05-28|        35|         0|                11|                 0|                0|                2|                  4|              2|                   1|               3|                 7|         0|        14|
| 7788|          1983|   Doutorado|      Casado|23536.0|              1|                  0|  2014-06-04|         6|         0|                 3|                 0|                0|                1|                  1|              0|                   0|               3|                 3|         0|        15|
| 2230|          1970|   Doutorado|      Casado|23626.0|              1|                  0|  2014-05-24|        27|         2|                14|                 0|                0|                0|                  3|              3|                   1|               3|                 5|         0|        16|
+-----+--------------+------------+------------+-------+---------------+-------------------+------------+----------+----------+------------------+------------------+-----------------+-----------------+-------------------+---------------+--------------------+----------------+------------------+----------+----------+
only showing top 20 rows

SPARKSQL

In [ ]:
#Cria uma visão temporária local 
df3.createOrReplaceTempView("tabela_campanha_marketing")

In [ ]:
#1ª consulta tem a função de retornar todos os dados da tabelaNum_visita_web_Mes
spark.sql("SELECT * FROM tabela_campanha_marketing").show(10)

+----+--------------+------------+------------+-------+---------------+-------------------+------------+----------+----------+------------------+------------------+-----------------+-----------------+-------------------+---------------+--------------------+----------------+------------------+----------+
|  ID|Ano_nascimento|Escolaridade|Estado_civil|  Renda|Crianca_em_casa|Adolescente_em_casa|Data_cliente|Mnt_vinhos|Mnt_frutas|Mnt_produtos_carne|Mnt_produtos_peixe|Mnt_produtos_doce|Mnt_produtos_gold|Num_ofertas_compras|Num_compras_web|Num_compras_catalogo|Num_compras_loja|Num_visita_web_Mes|Reclamacao|
+----+--------------+------------+------------+-------+---------------+-------------------+------------+----------+----------+------------------+------------------+-----------------+-----------------+-------------------+---------------+--------------------+----------------+------------------+----------+
|5524|          1957|   Graduacao|    Solteiro|58138.0|              0|                  0|  2012-09-04|       635|        88|               546|               172|               88|               88|                  3|              8|                  10|               4|                 7|         0|
|2174|          1954|   Graduacao|    Solteiro|46344.0|              1|                  1|  2014-03-08|        11|         1|                 6|                 2|                1|                6|                  2|              1|                   1|               2|                 5|         0|
|4141|          1965|   Graduacao|      Juntos|71613.0|              0|                  0|  2013-08-21|       426|        49|               127|               111|               21|               42|                  1|              8|                   2|              10|                 4|         0|
|6182|          1984|   Graduacao|      Juntos|26646.0|              1|                  0|  2014-02-10|        11|         4|                20|                10|                3|                5|                  2|              2|                   0|               4|                 6|         0|
|5324|          1981|   Doutorado|      Casado|58293.0|              1|                  0|  2014-01-19|       173|        43|               118|                46|               27|               15|                  5|              5|                   3|               6|                 5|         0|
|7446|          1967|    Mestrado|      Juntos|62513.0|              0|                  1|  2013-09-09|       520|        42|                98|                 0|               42|               14|                  2|              6|                   4|              10|                 6|         0|
| 965|          1971|   Graduacao|  Divorciado|55635.0|              0|                  1|  2012-11-13|       235|        65|               164|                50|               49|               27|                  4|              7|                   3|               7|                 6|         0|
|6177|          1985|   Doutorado|      Casado|33454.0|              1|                  0|  2013-05-08|        76|        10|                56|                 3|                1|               23|                  2|              4|                   0|               4|                 8|         0|
|4855|          1974|   Doutorado|      Juntos|30351.0|              1|                  0|  2013-06-06|        14|         0|                24|                 3|                3|                2|                  1|              3|                   0|               2|                 9|         0|
|5899|          1950|   Doutorado|      Juntos| 5648.0|              1|                  1|  2014-03-13|        28|         0|                 6|                 1|                1|               13|                  1|              1|                   0|               0|                20|         0|
+----+--------------+------------+------------+-------+---------------+-------------------+------------+----------+----------+------------------+------------------+-----------------+-----------------+-------------------+---------------+--------------------+----------------+------------------+----------+
only showing top 10 rows

In [ ]:
#2ª consulta tem a função de retornar as colunas Escolaridade e Num_visita_web_Mes da tabelaNum_visita_web_Mes para especificar a consulta 
spark.sql("SELECT Escolaridade, Num_visita_web_Mes FROM tabela_campanha_marketing").show(10)

+------------+------------------+
|Escolaridade|Num_visita_web_Mes|
+------------+------------------+
|   Graduacao|                 7|
|   Graduacao|                 5|
|   Graduacao|                 4|
|   Graduacao|                 6|
|   Doutorado|                 5|
|    Mestrado|                 6|
|   Graduacao|                 6|
|   Doutorado|                 8|
|   Doutorado|                 9|
|   Doutorado|                20|
+------------+------------------+
only showing top 10 rows

In [ ]:
#3ª consulta tem a função de fazer a contagem de Crianca_em_casa da tabela_campanha_marketing agrupado em Escolaridade
spark.sql("SELECT Escolaridade, COUNT(Crianca_em_casa) AS Qtd_Crianca_em_casa FROM tabela_campanha_marketing GROUP BY Escolaridade").show()

+-------------+-------------------+
| Escolaridade|Qtd_Crianca_em_casa|
+-------------+-------------------+
|    Doutorado|                486|
|    Graduacao|               1127|
|Segundo_ciclo|                203|
|     Mestrado|                370|
|Ensino_basico|                 54|
+-------------+-------------------+

In [ ]:
#4ª consulta tem a função de retornar as colunas ID, Escolaridade, Data_cliente, Num_compras_web da tabela_campanha_marketing onde Num_compras_web seja maior do que 5
spark.sql("SELECT ID, Escolaridade, Data_cliente, Num_compras_web FROM tabela_campanha_marketing WHERE Num_compras_web > 5").show()

+----+-------------+------------+---------------+
|  ID| Escolaridade|Data_cliente|Num_compras_web|
+----+-------------+------------+---------------+
|5524|    Graduacao|  2012-09-04|              8|
|4141|    Graduacao|  2013-08-21|              8|
|7446|     Mestrado|  2013-09-09|              6|
| 965|    Graduacao|  2012-11-13|              7|
|8180|     Mestrado|  2013-11-15|              6|
|2114|    Doutorado|  2012-11-24|              7|
|6565|     Mestrado|  2013-03-28|             11|
|4047|    Doutorado|  2014-01-11|              6|
|1409|    Graduacao|  2013-03-18|              7|
|5255|    Graduacao|  2013-02-20|             27|
|1966|    Doutorado|  2013-11-22|              6|
|2968|    Doutorado|  2013-02-01|              7|
|8601|    Graduacao|  2013-04-29|              8|
|4114|     Mestrado|  2012-08-11|              6|
|8375|    Doutorado|  2014-03-03|              8|
|1012|    Graduacao|  2013-02-18|              8|
|6518|    Doutorado|  2013-06-11|              7|
|4137|    Graduacao|  2013-12-06|              7|
|9369|Segundo_ciclo|  2014-03-19|             11|
|6312|    Graduacao|  2013-03-17|             10|
+----+-------------+------------+---------------+
only showing top 20 rows

In [ ]:
#5ª consulta tem a função de retornar as colunas ID, Escolaridade, Data_cliente, Num_compras_web da tabela_campanha_marketing onde Num_compras_web esteja entre entre 5 e 15
spark.sql("SELECT ID, Escolaridade, Data_cliente, Num_compras_web FROM tabela_campanha_marketing  WHERE Num_compras_web BETWEEN 5 AND 15").show()

+-----+------------+------------+---------------+
|   ID|Escolaridade|Data_cliente|Num_compras_web|
+-----+------------+------------+---------------+
| 5524|   Graduacao|  2012-09-04|              8|
| 4141|   Graduacao|  2013-08-21|              8|
| 5324|   Doutorado|  2014-01-19|              5|
| 7446|    Mestrado|  2013-09-09|              6|
|  965|   Graduacao|  2012-11-13|              7|
| 8180|    Mestrado|  2013-11-15|              6|
| 2114|   Doutorado|  2012-11-24|              7|
| 6565|    Mestrado|  2013-03-28|             11|
| 4047|   Doutorado|  2014-01-11|              6|
| 1409|   Graduacao|  2013-03-18|              7|
| 2404|   Graduacao|  2013-05-27|              5|
| 1966|   Doutorado|  2013-11-22|              6|
| 4339|   Doutorado|  2013-12-31|              5|
| 2968|   Doutorado|  2013-02-01|              7|
| 8601|   Graduacao|  2013-04-29|              8|
| 6566|   Doutorado|  2012-11-08|              5|
| 4114|    Mestrado|  2012-08-11|              6|
|10383|   Graduacao|  2013-04-02|              5|
| 8375|   Doutorado|  2014-03-03|              8|
| 1012|   Graduacao|  2013-02-18|              8|
+-----+------------+------------+---------------+
only showing top 20 rows

In [ ]:
#6ª consulta tem a função de retornar as colunas ID, Escolaridade, Data_cliente da tabela_campanha_marketing e ordenar a  Data_cliente descrecente
spark.sql("SELECT ID, Escolaridade, Data_cliente  FROM tabela_campanha_marketing ORDER BY Data_cliente  DESC").show()

+-----+------------+------------+
|   ID|Escolaridade|Data_cliente|
+-----+------------+------------+
| 7300|   Graduacao|  2014-06-29|
|  453|   Doutorado|  2014-06-29|
| 1371|   Graduacao|  2014-06-28|
| 6722|   Doutorado|  2014-06-28|
| 8093|    Mestrado|  2014-06-28|
| 4472|   Doutorado|  2014-06-27|
| 2471|   Graduacao|  2014-06-27|
| 2831|   Graduacao|  2014-06-27|
| 9014|   Graduacao|  2014-06-26|
| 7059|   Graduacao|  2014-06-26|
| 1225|   Graduacao|  2014-06-26|
| 6382|   Graduacao|  2014-06-26|
| 5633|   Graduacao|  2014-06-25|
| 3267|    Mestrado|  2014-06-25|
| 9888|   Graduacao|  2014-06-25|
| 4399|   Graduacao|  2014-06-25|
| 1448|    Mestrado|  2014-06-25|
|10492|   Graduacao|  2014-06-24|
| 4550|    Mestrado|  2014-06-24|
| 2781|   Graduacao|  2014-06-23|
+-----+------------+------------+
only showing top 20 rows

In [ ]:
#7ª consulta tem a função de retornar as colunas ID, Escolaridade, Data_cliente, Ano_nascimento da tabela_campanha_marketing e encontrar em Ano_nascimento os anos que terminam em 94
spark.sql("SELECT ID, Escolaridade, Data_cliente, Ano_nascimento FROM tabela_campanha_marketing WHERE Ano_nascimento LIKE '%94'").show(10)

+-----+------------+------------+--------------+
|   ID|Escolaridade|Data_cliente|Ano_nascimento|
+-----+------------+------------+--------------+
| 5067|   Graduacao|  2014-02-14|          1994|
|10619|   Graduacao|  2012-12-03|          1994|
| 6905|   Graduacao|  2012-08-22|          1994|
+-----+------------+------------+--------------+

In [ ]:
#8ª consulta tem a função de de retornar o maior valor da coluna Mnt_produtos_gold da tabela_campanha_marketing
spark.sql("SELECT MAX (Mnt_produtos_gold) FROM tabela_campanha_marketing").show()

+----------------------+
|max(Mnt_produtos_gold)|
+----------------------+
|                   362|
+----------------------+

In [ ]:
#9ª consulta tem a função de de retornar o menor valor da coluna Mnt_produtos_gold da tabela_campanha_marketing
spark.sql("SELECT MIN (Mnt_produtos_gold) FROM tabela_campanha_marketing").show()

+----------------------+
|min(Mnt_produtos_gold)|
+----------------------+
|                     0|
+----------------------+

In [ ]:
#10ª consulta tem a função de de retornar a média dos valores da coluna Mnt_produtos_gold da tabela_campanha_marketing
spark.sql("SELECT AVG (Mnt_produtos_gold) FROM tabela_campanha_marketing").show()

+----------------------+
|avg(Mnt_produtos_gold)|
+----------------------+
|             44.021875|
+----------------------+